$color: #503E8C; //Main Purple color

//Holds the question and when click will display the answer.
.accordion{
    width: 100%;
    padding: 20px 20px;
    padding-right: 80px;
    text-align:left;
    background:white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    position:relative;
    transition:0.4s;
    display:flex;
    flex-direction:row;
    align-items:center;
    outline: none;
    color: $color;
    &:after{
        content: '\002B'; //code for plus sign
        position:absolute;
        width:20px;
        height:20px;
        right:0;
        font-size: 24px;
        padding-right: 20px;
        color: $color;
        transition: 0.2s ease;
    }
}


//When the accordion is clicked, the triangle is rotated downwards.
.active{
    &::after{
        content: '\2212'; //code for minus sign
    }
}

.visible{
    max-height: auto;
    & > p{
        padding: 0px 80px;
        padding-bottom: 20px;
        margin: 0;
    }
}

.collapsed{
    max-height: 0;
    overflow: hidden;
}

.bottomBorder{
    width: auto;
    height: 2px;
    position: relative;
    display: block;
    background-color: #E3E3E3;
    margin-right: 20px;
    margin-left: 40px;
}
