.disabledOption {
    display: none;
}

.dropdown {
    // A reset of styles, including removing the default dropdown arrow
    // appearance: none;
    // Additional resets for further consistency
    background-color: #8C69AA;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
            Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
            sans-serif;
    border: none;
    padding: 10px 50px 10px 20px;
    font-size: 1em;
    border-radius: 15px;
    font-weight: bold;
    line-height: inherit;
    outline: none;
    color: white;
  }
  
// .dropdown::-ms-expand {
//     display: none;
// }