.navParent{
    width: 375px;
    max-width: 90vw;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #B59CCC;
    z-index: 1000;
    overflow: auto;
    @media screen and (min-width: 1000px){
        display: block;
    }
    @media screen and (max-width: 1000px){
        display: none;
    }
}

.navOpen{
    width: 375px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #B59CCC;
    z-index: 1000;
    overflow: auto;
    display: block;
}

.overlayOpen{
    width: auto;
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 500;
    @media screen and (min-width: 1000px){
        display: none;
    }
    @media screen and (max-width: 1000px){
        display: block;
    }
}

.overlayClosed{
    display: none;
}

.hamburgerMenu{
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #8C69AA;
    padding: 5px 7px 4px 7px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    transition: background 0.5s ease;
    z-index: 1001;
    border: none;
    outline: none;
    @media screen and (min-width: 1000px){
        display: none;
    }
    @media screen and (max-width: 1000px){
        display: block;
    }
}

.hamburgerMenu:hover{
    cursor: pointer;
    background-color: #B59CCC;
}

.navLogo{
    width: 100%;
    height: auto;
    padding: 40px 60px;
    position: relative;
    display: block;
    margin: 40px 0px;
}

.navBtn{
    width: auto;
    height: auto;
    position: relative;
    display: block;
    color: white;
    padding: 20px 40px;
    font-size: 20px;
    transition: background 0.5s ease;
    text-align: left;
    text-decoration: none;
}

.navBtn:hover{
    cursor: pointer;
    background-color: #8C69AA;
}

.menuIcon{
    margin-right: 10px;
    transform: translateY(3px);
    font-size: 24px;
}

.navLower{
    width: auto;
    height: auto;
    display: block;
    padding: 40px;
    color: white;
    @media screen and (min-height: 700px){
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    @media screen and (max-height: 700px){
        position: relative;
    }
}

.navLowerLinks{
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    color: white;
    margin-bottom: 20px;
}

.navLowerCol{
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    flex: 1;
}

.navLowerBtn{
    position: relative;
    display: block;
    color: white;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.navLowerText{
    position: relative;
    display: block;
    color: #E7D8F2;
    text-align: left;
}
