$background:#292b2d;

.container {
  padding: 10px 20px;
  background: $background;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
}

.title {
  font-size: 22px;
  color: #bbc0c3;
  margin-bottom: 20px;
  font-weight: bold;
}

.link {
  color: #858d95;
  margin-bottom: 10px;
  font-size: 18px;
  text-decoration: none;

  &:hover {
    color: #bbc0c3;
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  //line the logo up with the text
  margin-bottom: -4px;
}

.logo {
  width: 150px;
  height: 110px;
  margin: 30px 30px 20px 0px;
  margin-top: 10px;
}
