$background:#B59CCC;

.container {
  padding: 50px 75px 25px 75px;
  background: $background;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-gap: 10px;
}
.row:nth-of-type(1) { 
  @media (min-width: 860px) { grid-template-columns: 390px 150px 1fr; }
  @media (max-width: 860px) { grid-template-columns: repeat(auto-fill, 1fr); }
}
.row:nth-of-type(2) {
  grid-template-columns: 1fr min-content;
  margin-top: 50px;
  p {
    color: #EAE0F1;
    margin: 0;
    font-size: 18px;
  }
  a {
    color: #EAE0F1;
    margin: 0;
    font-size: 18px;
    text-decoration: none;
  }
  p.logo {
    font-family: 'Playfair Display';
    font-weight: 900;
  }
}

.column {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title, .centeredTitle {
  font-size: 22px;
  color: #503E8C;
  margin: 0 0 10px 0;
  font-weight: bold;
}
.centeredTitle {
  @media (min-width: 860px) { margin-top: 63px; }
  @media (max-width: 860px){ margin-top: 0; }
}

.link {
  color: #000000;
  margin-bottom: 6px;
  font-size: 18px;
  text-decoration: none;
  display: table;

  &:hover {
    color: #EAE0F1;
  }
}