.circle { 
    background: #8c69aa;
}
.loader {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
}
.loader div {
    position: absolute;
    top: 41.25%;
    width: 16.25%;
    height: 16.25%;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loader div:nth-child(1) {
    left: 10%;
    animation: loader1 0.6s infinite;
}
.loader div:nth-child(2) {
    left: 10%;
    animation: loader2 0.6s infinite;
}
.loader div:nth-child(3) {
    left: 40%;
    animation: loader2 0.6s infinite;
}
.loader div:nth-child(4) {
    left: 70%;
    animation: loader3 0.6s infinite;
}
@keyframes loader1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loader3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes loader2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(184.61%, 0);
    }
}